{% extends 'layouts/app.twig' %}
{% block pageclass %}about{% endblock %}

{% block content %}
    
    <div class="container container--full">
        <div class="column-12">
            <div class="container container--full">
                <img src="assets/img/about-title.png" alt="Our Story" class="column-3 image--contain">
                <img src="assets/img/location.png" draggable="false" class="column-3 offset-6 image--contain">
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore quod tempora aspernatur vel alias magnam. Consequatur pariatur illum distinctio ipsam repellat temporibus accusamus illo, amet unde repudiandae necessitatibus quasi ratione vero recusandae, fuga dolor cupiditate totam esse beatae nihil! Nemo laborum quod illum porro ex inventore hic alias, rerum provident.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ipsum voluptatibus tempore, tenetur necessitatibus maxime cumque beatae quisquam optio mollitia perspiciatis ad nostrum. Quisquam voluptate, non maxime commodi? Deserunt, officiis.</p>
        </div>
        <div class="column-12">
            <img src="assets/img/scott-dino.png" draggable="false" class="column-4 image--contain">
        </div>
    </div>


{% endblock %}
