{% extends 'layouts/app.twig' %}
{% block pageclass %}beers{% endblock %}

{% block content %}
    <img src="assets/img/beers-title.png" alt="Our Beers" draggable="false">
    <section class="tabs">
    <div class="tabs__body">
        <div class="tabs__content" data-tab="1">
            <img src="assets/img/pilsner-title.png" alt="The Mighty Pilsner" draggable="false" class="beer-title">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem perferendis inventore nesciunt possimus itaque ratione impedit sequi molestiae, necessitatibus ipsum, pariatur corporis totam ullam dolore placeat nostrum vitae commodi perspiciatis fugit expedita sunt sed quam ab laudantium dolores. Quos, consequuntur!</p>
        </div>

        <div class="tabs__content" data-tab="2">
            <img src="assets/img/pilsner-title.png" alt="The Mighty Pilsner" draggable="false" class="beer-title">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, porro saepe! Atque harum voluptates odit facilis, nemo fugiat animi magnam possimus, aliquam molestiae veniam. Eius sint excepturi, eos nisi fugiat in non modi, dolorum totam maxime inventore iure consectetur vero?</p>
        </div>

        <div class="tabs__content" data-tab="3">
            <img src="assets/img/pilsner-title.png" alt="The Mighty Pilsner" draggable="false" class="beer-title">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio laborum debitis quod perferendis maxime cupiditate est enim magnam aliquam dignissimos aliquid, incidunt soluta modi laudantium corporis commodi nobis earum provident molestias nulla maiores quo quos placeat odit deserunt. Minima, pariatur?</p>
        </div>

        <div class="tabs__content" data-tab="4">
            <img src="assets/img/pilsner-title.png" alt="The Mighty Pilsner" draggable="false" class="beer-title">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, illo. Impedit pariatur, similique delectus corrupti provident nam reprehenderit atque, odio suscipit magnam incidunt sed mollitia voluptatum velit vitae praesentium ea, libero necessitatibus harum quasi, quo reiciendis qui dolorem quia. Vero.</p>
        </div>

        <div class="tabs__content" data-tab="5">
            <img src="assets/img/pilsner-title.png" alt="The Mighty Pilsner" draggable="false" class="beer-title">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, illo. Impedit pariatur, similique delectus corrupti provident nam reprehenderit atque, odio suscipit magnam incidunt sed mollitia voluptatum velit vitae praesentium ea, libero necessitatibus harum quasi, quo reiciendis qui dolorem quia. Vero.</p>
        </div>
    </div>
    <ul class="tabs__nav">
        <li data-tab="1"><img src="assets/img/beers/lager.png" draggable="false" class="tab-trigger"></li>
        <li data-tab="2"><img src="assets/img/beers/pilsner.png" draggable="false" class="tab-trigger"></li>
        <li data-tab="3"><img src="assets/img/beers/pale_ale.png" draggable="false" class="tab-trigger"></li>
        <li data-tab="4"><img src="assets/img/beers/ipa.png" draggable="false" class="tab-trigger"></li>
        <li data-tab="5"><img src="assets/img/beers/seasonal.png" draggable="false" class="tab-trigger"></li>
    </ul>
</section>
<section class="slider">
    <div class="slide">
        <div class="slide-image">
            <img src="assets/img/beers/lager.png" draggable="false">
        </div>
        <div class="slide-content">
            <img src="assets/img/pilsner-title.png" alt="The Mighty Pilsner" draggable="false" class="beer-title">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, illo. Impedit pariatur, similique delectus corrupti provident nam reprehenderit atque, odio suscipit magnam incidunt sed mollitia voluptatum velit vitae praesentium ea, libero necessitatibus harum quasi, quo reiciendis qui dolorem quia. Vero.</p>
        </div>
    </div>

    <div class="slide">
        <div class="slide-image">
            <img src="assets/img/beers/pilsner.png" draggable="false">
        </div>
        <div class="slide-content">
            <img src="assets/img/pilsner-title.png" alt="The Mighty Pilsner" draggable="false" class="beer-title">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, illo. Impedit pariatur, similique delectus corrupti provident nam reprehenderit atque, odio suscipit magnam incidunt sed mollitia voluptatum velit vitae praesentium ea, libero necessitatibus harum quasi, quo reiciendis qui dolorem quia. Vero.</p>
        </div>
    </div>

    <div class="slide">
        <div class="slide-image">
            <img src="assets/img/beers/pale_ale.png" draggable="false">
        </div>
        <div class="slide-content">
            <img src="assets/img/pilsner-title.png" alt="The Mighty Pilsner" draggable="false" class="beer-title">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, illo. Impedit pariatur, similique delectus corrupti provident nam reprehenderit atque, odio suscipit magnam incidunt sed mollitia voluptatum velit vitae praesentium ea, libero necessitatibus harum quasi, quo reiciendis qui dolorem quia. Vero.</p>
        </div>
    </div>

    <div class="slide">
        <div class="slide-image">
            <img src="assets/img/beers/ipa.png" draggable="false">
        </div>
        <div class="slide-content">
            <img src="assets/img/pilsner-title.png" alt="The Mighty Pilsner" draggable="false" class="beer-title">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, illo. Impedit pariatur, similique delectus corrupti provident nam reprehenderit atque, odio suscipit magnam incidunt sed mollitia voluptatum velit vitae praesentium ea, libero necessitatibus harum quasi, quo reiciendis qui dolorem quia. Vero.</p>
        </div>
    </div>

    <div class="slide">
        <div class="slide-image">
            <img src="assets/img/beers/seasonal.png" draggable="false">
        </div>
        <div class="slide-content">
            <img src="assets/img/pilsner-title.png" alt="The Mighty Pilsner" draggable="false" class="beer-title">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, illo. Impedit pariatur, similique delectus corrupti provident nam reprehenderit atque, odio suscipit magnam incidunt sed mollitia voluptatum velit vitae praesentium ea, libero necessitatibus harum quasi, quo reiciendis qui dolorem quia. Vero.</p>
        </div>
    </div>
</section>
{% endblock %}
