{% extends 'layouts/app.twig' %}
{% block pageclass %}home{% endblock %}

{% block content %}
    <a href="#0" class="home-cta">
        <img src="assets/img/home-flip.png" draggable="false">
    </a>

    <!-- End CTA -->
    
    <div class="home-container">
        <img src="assets/img/home-title-temp.png" alt="Welcome to Mighty Peace Brewing Company" draggable="false">
        <p>We've got something Brewing. Coming Spring 2018 to Fort St. John, the Mighty Peace Brewing Company is a 3000 sq ft. brewing facility featuring an initial 5 different beers, available for retail and wholesale.</p>
        <p>For more information contact <a href="mailto:scott@mightypeacebrewing.ca">scott@mightypeacebrewing.ca</a></p>
        {# <a href="{{ path_for('about')           }}">Learn More <i class="fa fa-caret-right"></i></a> #}
        <p>Stay tuned for more details. Sign up below</p>
        <form class="form collection-form" action="{{ path_for('contact') }}" method="post" autocomplete="off" enctype="multipart/form-data">
          <div class="field">
            <input type="text" name="name" placeholder="Your Name" required>
          </div>
          <div class="field">
            <input type="text" name="email" placeholder="Your Email" required>
          </div>
          <div class="field">
            <button type="submit">Submit</button>
          </div>
        </form>
        {% if message %}<div class="alert">{{ message }}</div>{% endif %}
    </div>
    <div class="home-image">
        <img src="http://res.cloudinary.com/darkroast-digital/image/upload/v1506447407/express/home-cans.png" draggable="false">
    </div>
{% endblock %}
