{% extends 'layouts/app.twig' %}
{% block pageclass %}swag{% endblock %}

{% block content %}
<div class="container container--full">
    <img src="assets/img/swag-title.png" alt="Mighty Look" draggable="false" class="column-7 image--contain image-intro">
    {# <img src="assets/img/swag-hoodie.png" draggable="Mighty Look" class="column-5 image--contain image-intro"> #}
</div>
<div class="container container--full">
    <div class="column-4 store-link"><img src="assets/img/coming-soon.svg" alt="Coming Soon" draggable="false" class="coming-soon"><a href="#0"><img src="assets/img/store/mens.png" draggable="false" class="image--contain" style="opacity: .4"></a></div>
    <div class="column-4 store-link"><img src="assets/img/coming-soon.svg" alt="Coming Soon" draggable="false" class="coming-soon"><a href="#0"><img src="assets/img/store/womens.png" draggable="false" class="image--contain" style="opacity: .4"></a></div>
    <div class="column-4 store-link"><img src="assets/img/coming-soon.svg" alt="Coming Soon" draggable="false" class="coming-soon"><a href="#0"><img src="assets/img/store/more.png" draggable="false" class="image--contain" style="opacity: .4"></a></div>
</div>
{% endblock %}
