<section class="tabs">
    <ul class="tabs__nav">
        <li data-tab="1">Tab 1</li>
        <li data-tab="2">Tab 2</li>
        <li data-tab="3">Tab 3</li>
        <li data-tab="4">Tab 4</li>
    </ul>
    <div class="tabs__body">
        <div class="tabs__content" data-tab="1">
            <h6>Tab 1</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat odio ratione rerum tempora, debitis distinctio soluta ipsam quasi aperiam hic. Placeat animi distinctio ut veniam explicabo doloremque aut delectus. Harum.</p>
        </div>

        <div class="tabs__content" data-tab="2">
            <h6>Tab 2</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat odio ratione rerum tempora, debitis distinctio soluta ipsam quasi aperiam hic. Placeat animi distinctio ut veniam explicabo doloremque aut delectus. Harum.</p>
        </div>

        <div class="tabs__content" data-tab="3">
            <h6>Tab 3</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat odio ratione rerum tempora, debitis distinctio soluta ipsam quasi aperiam hic. Placeat animi distinctio ut veniam explicabo doloremque aut delectus. Harum.</p>
        </div>

        <div class="tabs__content" data-tab="4">
            <h6>Tab 4</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat odio ratione rerum tempora, debitis distinctio soluta ipsam quasi aperiam hic. Placeat animi distinctio ut veniam explicabo doloremque aut delectus. Harum.</p>
        </div>
    </div>
</section>
